.banner{
    background-color: #ffaf03;
}

.banner img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-bottom: 100px;
    padding-top: 100px;
}



@media(min-width: 300px) and (max-width: 700px){

    .banner img{
       width: 100%;
    }
}

